body {
    background-color: lightblue;
}

.first-container {
    text-align: center; 
    color: white; 
    background: linear-gradient(to right, navy, #c3faec, white);
    height: 80px; 
}


.btn-primary {
    margin: 10px;
}

h4 {
    color: white;
}

h3 {
    color: white;
}
